<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    {% include "includets/navbar.html" %}

<div class="p-3 mb-2 bg-white text-white"></div>
    <div class="p-3 mb-2 bg-white text-white"></div>
{% for card in menu|sort(attribute="cost", reverse=True) %}
    <div class="container card" style="width: 30rem;">
  <img src="{{card.img}}" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{card.title}} {% if action_title==card.title %}<button class="btn btn-danger">Акція!</button>{%endif%}</h5>
      <p class="card-text"> {{card.text}}</p>
      {%if action_title==card.title%}<h6><div class="fw-bold text-decoration-line-through">{{card.cost}}</div><div class="fw-bold text-danger">{{action_new_cost}}</div>{%else%}<div class="fw-bold">{{card.cost}}</div></h6><p>{%endif%}
      <div class="mb-2 bg-white text-white"></div>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="right"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Додати у список замовлень">У кошик</button>
  </div></div>
    <div class="p-3 mb-2 bg-white text-white"></div>
{% endfor %}



<div class="p-3 mb-2 bg-white text-white"></div>
    <div class="p-3 mb-2 bg-white text-white"></div>
{% include "includets/bottom_menu.html" %}


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>
</html>